
<div class="container">

  <div class="bg"></div>
  <h1 id="contactTitle">Contact
    
  </h1>

    <div class="linkedincontainer">
      <p>¡Recomended!</p>    
      <a href="https://www.linkedin.com/in/psurriel/" target="_blank">
        <div class="linkedin button">
          <img draggable="false" src="assets\img\contactLogos\linkedin-logo.webp" alt="">
        </div>
      </a>

    </div>

    
    <a href="mailto:psurrielm@gmail.com" style="text-decoration: none;">
      <div class="mail button">
        <img draggable="false" src="assets\img\contactLogos\mailLogo.png" alt="">
        <p>Mail me!</p>
      </div>
    </a>
    <div class="copyrightwarning">
      &#169; 2022 Pol Surriel. Contact: psurrielm@gmail.com</div>

</div>



 

