



.container{
    height: 256px;
    position: relative;
    border-radius: 27px;
    margin-top: -105px;

}

@media all and (max-width:550px) {
    .container{
        margin-top: 0px;
    }   
}

.inner{
    position: absolute;

    border-radius: 27px;
    height: 300px;
    width: 100%;

}

.openButton{
    height: 68px;
}

.videoBG {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.videoBG video{
    width: auto !important;
    height: 490px !important;
    mask-image: linear-gradient(
        to right,
        transparent,
        white
    );
}

h1, h2 {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.561);
}

h1{
    z-index: 10;
}

.openButton{
    z-index: 10;
}

.gradientBG{
    background: linear-gradient(
        45deg,
        rgb(131, 0, 0),
        red
    );
}

.content{

    width: 100%;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;

}

.content *{
    margin-right: 20px;
}

