<div class="bgcontainer">


  <div class="container">
    <div class="projectArrow leftArrow" (click)="onPrevClicked()"><</div>
    <div id="slidesContainer">
      <h1 id="projects">PROJECTS</h1>

      <app-project-slide>
        <div id="clothVideoContainer">
          <div id="clothVideo">
            <app-cloth-video></app-cloth-video>
          </div>
          
        </div>
        
      
        <app-cloth-project-item></app-cloth-project-item>

      </app-project-slide>


      
      <app-project-slide>
        <div id="robotArmContainer">
          <app-robot-arm></app-robot-arm>
        </div>
        <app-rotations-project></app-rotations-project>
      </app-project-slide>

      <app-project-slide>
        <app-surrealboost></app-surrealboost>
      </app-project-slide>

      <app-project-slide>
        <app-myexcel></app-myexcel>
      </app-project-slide>

      <app-project-slide>
        <app-formulas></app-formulas>
      </app-project-slide>
      
      <app-project-slide>
        <app-cijestone></app-cijestone>
      </app-project-slide>

      <app-project-slide>
        <app-pellets></app-pellets>
      </app-project-slide>
      
      <app-project-slide>
        <app-digitalhelheim></app-digitalhelheim>
      </app-project-slide>
      
      <app-project-slide>
        <app-megaman></app-megaman>
      </app-project-slide>

     
    
    </div>
    <div class="projectArrow rightArrow" (click)="onNextClicked()">></div>

  </div>
</div>
