
<div class="container">
  <div class="smokeContainer">
    <div class="smoke1 smoke"></div>
    <div class="smoke2 smoke"></div>
    <div class="smoke3 smoke"></div>
    <div class="smoke4 smoke"></div>
    <div class="smoke5 smoke"></div>
  </div>
  <div class="button">
    
    <div class="ship">
      <div class="shipHeadContainer">
        <div class="antenita">
          <div class="ball"></div>
        </div>
        <div class="shipToe">
          <div class="light"></div>
        </div>
        <div class="shipHead">
          <div class="window">
            <div class="reflection"></div>
          </div>
        </div>
      </div>
      <div class="shipBody">
        
      </div>
      
      <div class="rightWing wing"></div>
      <div class="leftWing wing"></div>
    </div>
  
    <span>
      Download CV
    </span>
  </div>

</div>