
<a href="assets\pdfs\Pol-Surriel_CV.pdf"  download="Pol-Surriel_CV.pdf">

  <div class="container" (click)="onButtonClicked()" id="containerShip" (mouseenter)="onFocus()" (mouseleave)="onFocusOut()">
    <div class="smokeContainer">
      <div class="smoke1 smoke"></div>
      <div class="smoke2 smoke"></div>
      <div class="smoke3 smoke"></div>
      <div class="smoke4 smoke"></div>
      <div class="smoke5 smoke"></div>
      
      
    </div>
    
    <div class="smokeContainer" id="bigSmokeContainer">
      <div class="bsmoke1 d1 bigSmoke"></div>
      <div class="bsmoke2 d5 bigSmoke"></div>
      <div class="bsmoke3 d4 bigSmoke"></div>
      <div class="bsmoke4 d3 bigSmoke"></div>
      <div class="bsmoke5 d2 bigSmoke"></div>
      
      <div class="bsmoke1 d5 bigSmoke"></div>
      <div class="bsmoke2 d3 bigSmoke"></div>
      <div class="bsmoke3 d1 bigSmoke"></div>
      <div class="bsmoke4 d2 bigSmoke"></div>
      <div class="bsmoke5 d4 bigSmoke"></div>
    </div>
    
    
    
    
    <div class="button">
      
      <div class="fakebg"></div>
      
      <div class="ship" id="theShip">
        <div class="shipHeadContainer">
        <div class="antenita">
          <div class="ball"></div>
        </div>
        <div class="shipToe">
          <div class="light"></div>
        </div>
        <div class="shipHead">
          <div class="windowBorder">
            <div class="window">
              <div class="reflection"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="shipBody" id="thebody">
        
      </div>
      
      <div class="rightWing wing"></div>
      <div class="leftWing wing"></div>
    </div>
    
    <span>
      Download CV
    </span>
  </div>
  
</div>
</a>