
.button{
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    width: 150px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: red;

    transition: 
        width 0.5s,
        height 0.5s,
        font-size 0.5s,
        padding-top 0.5s,
        padding-left 0.5s,
        padding-right 0.5s,
        padding-bottom 0.5s
        ease;
}

.button span{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.ship{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: -1;

    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
    clip-path: inset(-100px -100px 20px 0px); 

    transition: clip-path 0.3s, margin-bottom 0.3s, margin-top 0.3s ease;

}

.container:hover .ship{
    margin-top: -170px;

    clip-path: inset(-200px -200px -20px -100px); 

}

.antenita{
    position: absolute;
    background-color: black;
    height: 40px;
    width: 2px;
    margin-top: -100px;
    margin-right: -60px;

    transition: transform 1s ease;
    transform-origin: bottom center;
    transform: rotate(180deg);
    z-index: -10;

}

.ball{
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 100px;

    margin-left:-5px;
    margin-right:-5px;
}

.container:hover .antenita{
    transform: rotate(0deg);
}

.shipBody{

    display: flex;
    justify-content: center;

    width: 100px;
    height: 0px;
    background-color: rgb(96, 96, 243);

    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;

    z-index: -10;

    transition: height 0.5s ease;

}

.shipHeadContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@keyframes flick {
    0% {opacity:1;}
    50%{opacity: 0;}
    100% {opacity:1;}
}


.light{
    position: absolute;
    width: 10px;
    height: 10px;
    margin-top: -10px;
    margin-right: -15px;
    border-radius: 100%;

    animation-name: flick;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;

    background: radial-gradient(red, transparent);
}

.shipToe{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 52px;
    height: 20px;
    background-color: gray;
    margin-top: -89px;

    border-radius: 70% 70% 0% 0% /120% 120% 0% 0%;
    transition: height 0.5s ease;
    clip-path: inset(0px 0px 10px 0px); 
}



.shipHead{
    width: 100px;
    height: 50px;
    background-color: rgb(96, 96, 243);

    border-radius: 40% 40% 0% 0% /90% 90% 0% 0%;
    z-index: -10;
    transition: height 0.5s ease;
    transform: scaleY(2);

    display: flex;
    justify-content: center;
    align-items: center;
}
.shipHead *{
    transform: scaleY(0.5);
}
.reflection{
    width: 7px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.354);
    border-radius: 20px;
    margin-right: -15px;
    margin-top: -10px;

}

.window{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    background-color: black;
    width: 39px;
    height: 39px;
    border-radius: 100%;

    border: 5px solid gray;
}





.container:hover .shipBody{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.wing{
    position: absolute;
    width: 0px;
    height: 0px;
    //border-radius: 100px;
    
    background-color: gray;

    margin-top: 120px;
    
    z-index: -11;
    clip-path: none;

}
.rightWing{
    transition: margin-left 1s ease;
    margin-left: -90px;

    border-radius: 30px;
    border-top-left-radius: 300%;


    transform: rotate(90deg);
    transition: transform 0.5s, width 0.5s ease;
}

.leftWing{
    transition: margin-right 1s ease;
    margin-right: -90px;    
    border-radius: 30px;
    border-bottom-left-radius: 300%;

    transform: rotate(90deg);
    transition: transform 0.5s, width 0.5s ease;

}

.container:hover .wing{
    width: 150px;
    height: 70px;
}
.container:hover .rightWing{
    transform: rotate(-40deg);
}

.container:hover .leftWing{
    transform: rotate(220deg);
}


.smokeContainer{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

@keyframes smoke1 {
    from {
        transform:translateY(0);
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    to {
        transform:translateY(70px);
        opacity: 0;
    }
  }

.smokeContainer{
    opacity: 0;
    transition: opacity 0.5s ease;
    transition-delay: 0.5s;
    z-index: -15;
}

.container:hover .smokeContainer{
    opacity: 1;
}

.smoke{
    position: absolute;
    background-color: wheat;
    border-radius: 100%;
    z-index: -10;
    width: 40px;
    height: 40px;
    animation-name: smoke1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    transition: opacity 0.5s ease;

}
.smoke1{
    animation-delay: 0.2s;
    margin-left: -20px;
}
.smoke5{
}
.smoke2{
    margin-left: -45px;
    animation-delay: 0.5s;
}
.smoke3{
    margin-right: -40px;
    animation-delay: 0.1s;
}
.smoke4{
    animation-delay: 0.7s;
}




.container {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    width: 190px;
    height: 50px;
    transition: width 0.5s, height 0.5s ease;
}

.container:hover {
    width: 300px;
    height: fit-content;
}


.container:hover .button span{
    opacity: 0;
}

.container:hover .button{

    font-size: 4px;
    color:transparent;
    width:20px;
    height: 60px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

}