/* You can add global styles to this file, and also import other style files */
:root{
  --mobile-max-width:650px
}


body{
}


*{scroll-behavior:smooth}
html body{
  max-width: 100% !important;
  overflow-x: hidden;
}

@font-face {
    font-family: main-font;
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

a{
  text-decoration: none;
}

*{
    -webkit-tap-highlight-color: transparent;
    font-family:main-font;
    color: white;
}
body{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #1a003320;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(92, 92, 92); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #505050; 
  }