<div id="base">
  <img  draggable="false" src="assets\img\robot-arm\0.png" id="base-img" alt="">
  <div id="arm0" class="joint">
    <img  draggable="false" src="assets\img\robot-arm\1.png" id="arm0-img" alt="">
    <div id="arm1" class="joint">
      <img draggable="false" src="assets\img\robot-arm\2.png" id="arm1-img" alt="">
      <div id="arm2" class="joint">
        <img draggable="false" src="assets\img\robot-arm\3.png" id="arm2-img" alt="">
        <div class="finguers" id="fing1">
          <img draggable="false" src="assets\img\robot-arm\t0.png" id="arm2-img" alt="">
        </div>
        <div class="finguers" id="fing2">
          <img draggable="false" src="assets\img\robot-arm\t1.png" id="arm2-img" alt="">
        </div>
      </div>
    </div>
  </div>
</div>


