<div class="centerFlex">

  <div class="introContainer" id="about">
    <img src="assets\img\references\me2.png" alt="">
    <div>
      <h1>About me</h1>
      <p>Hi! I'm a passionate front-end software engineer with a strong belief in never stop learning. I am curious about building impressive complex user interactions and machine learning. I am always looking for ways to improve my skills and abilities, and I am excited about new challenges. 
        
        I have a strong interest in web development, and I have a proven track record of building high quality web applications. I am skilled in using various programming languages and frameworks, and I have a keen eye for detail. I am also experienced in managing and working with teams of developers, and I am confident in my ability to communicate effectively.</p>
      </div>
      
    </div>
  </div>
<section>

  <div class="container">

    <app-reference
    refName = "Alberto Vila"
    refContext = "Director at Institut Tecnològic de Barcelona"
    refCharge = "In 2021, Alberto was my boss. He was also my first programming teacher!"
    refContent = "Pol es un persona que se involucra en profundidad. Tiene una alta capacidad resolutiva y se preocupa por obtener un resultado que satisfaga plenamente. Demuestra una seriedad y profesionalidad que contrastan con su juventud."
    refImgUrl="assets\img\references\alberto.jpg"
    ></app-reference>

    <app-reference
    refName = "Oscar Garcia, PhD"
    refContext = "Oscar was my teacher in college"
    refCharge = "CEO of CookieBox, TEDx Speaker, Forbes creative"
    refContent = "Pol was my student within the Algebra class of the Videogame Development degree in ENTI-UB. He showed a great interest in everything we would analize and discuss while delivering great showcases in all his assignments. There was no formula difficult enough so that he couldn't implement it in a nice and elegant way. Therefore I truly recommend Pol because he is a focused and passionate about what he does. He knows how to get practical results from theoretical backgounds."
    refImgUrl="assets\img\references\oscar.jpg"
    ></app-reference>

    <app-reference
    refName = "Eric Garcia"
    refContext = "Eric was my co-founder in Surreal Boost"
    refCharge = "Game Software Engineer"
    refContent = "Pol is one of the most tenacious person I have ever met. He has a huge Intuition for finding solution to any problem.

    Undoubtedly, what most surprises me about him is the mysterious ability he has to get great ideas out of nowhere. Not only he is a solution detector, but also of opportunities and creative decisions.
    
    As a teammate and co-founder, it is a pleasure to work with him."
    refImgUrl="assets\img\references\eric.jpg"
    ></app-reference>

    <app-reference
    refName = "Eduardo Zaldivar"
    refContext = "Edu was my college during my CFGS"
    refCharge = "Software Engineer in Netcentric Inc"
    refContent = "‘Genuine expert’ is the phrase that comes to mind when I think about Pol. I had the privilege of studying with him for more than a year.
    I was particularly impressed by Pol’s ability to handle even the toughest programming projects effortlessly. Besides Pol is proactive, result oriented, responsible and technically sound person and he is always ready to put all his energy and time to get the job done.
    Any company would be lucky to work with Pol together."
    refImgUrl="assets\img\references\edu.jpg"
    ></app-reference>

    <app-reference
    refName = "Manel Taboada, PhD"
    refContext = "Manel was my mentor"
    refCharge = "Project Manager & director at Gimbernat"
    refContent = "My first contact with Pol was in the development of a teamwork seminar during his internship at SIGMA. During the session, of just 3 hours, I had the opportunity to realize how he was one of the students who stood out in the group of participants, which was 20 students of Vocational Studies (Formación Profesional).

    As a result of his outstanding stay in SIGMA, he was distinguished with 1 of the 4 SIGMA-GIMBERNAT scholarships, that covered the 100% of the cost of the Postgraduate in IT Project Management, a course carried out in the Escuelas Universitarias Gimbernat (Adscritas a la UAB), a degree that i have the honour of coordinating. And precisely its passage through the Postgraduate has allowed us to know Pol more closely. And really the opinion of the entire teaching team is unanimous: a committed student, who is not overcome by difficulties, and meticulous, who takes care of every last detail. Some very important fact is that Pol attended the postgraduate combinedly with the 1st year of a University Degree .....
    
    I have not had the opportunity to interact with him on a professional level, but I am convinced that he will follow the same model / style.
    
    Congratulations Pol, I wish you a great professional future."
    refImgUrl="assets\img\references\manel.jpg"
    ></app-reference>

</div>

  
</section>
