<!--
<div class="container">
  <h1>C++ Cloth simulation</h1>
  <h2>Physics simulation without libraries. In the README file you can find all the math behind explained.</h2>
  

</div>

<div class="bg">
  <div class="githubButtonContainer">
    <app-github-button></app-github-button>
  </div>
</div>
-->

<div class="container">

  <div class="inner gradientBG"></div>
  <div class="inner logoBG"></div>
  <div class="inner content">
    <h1>C++ Cloth simulation</h1>
    <h2>Physics simulation without libraries. In the README file you can find all the math behind explained.</h2>
    <div class="openButton">
      <app-github-button link="https://github.com/PolSurriel/ClothSimulation" ></app-github-button>
    </div>

  </div>
</div>

