
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;

    height:100vh;

    border-bottom: 1px solid white;
}

#shipButtonContainer{
    position: absolute;
    margin-top: 200px;
}

p{
    margin: 0px;
    padding: 0px;
    z-index: 1;
    text-align: center;

}

h1{
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    z-index: 1;
    text-align: center;
}

@media all and (max-width: 507px) {
    #shipButtonContainer{
        margin-top: 280px;
    }
}