.container{
    height: 300px;
    position: relative;
    border-radius: 25px;
    overflow:hidden;


}
.inner{
    position: absolute;

    border-radius: 25px;
    height: 300px;
    width: 100%;
    
}

.gradientBG{
    
    background: linear-gradient(
        135deg, rgb(41, 17, 255) 16%, rgb(71, 152, 0) 86%);
        
}
.rayos{
    margin-left: -250px;
    mix-blend-mode:screen;
}

.imageBG{

    background-size: 872px;
    background-image: url("../../../assets/img/projects/circuitsAnim.gif");
    //mix-blend-mode:color-burn;
    mix-blend-mode:difference;
    
    
    //mix-blend-mode:hard-light;
    //mix-blend-mode:soft-light;

}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.content * {
    margin-right: 15px;

}

.svgItem{
    height: 310px;
}

h1{
    margin: 0px;
    margin-top: 10px;
}
h2{
    margin:0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title{
    display: flex;
    align-items: center;
}



@keyframes particleAnim {
    from {
        margin-top: 0px;
        opacity: 1;
    }
    to {
        opacity: 0;
        margin-top: 100px;
    }   
  }

.particle{
    width: 5px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    animation-name: particleAnim;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    position: absolute;
}




.particleContainer{
    position: absolute;

    transform-origin: center top;
    width: fit-content;
    margin-left: 300px;
    height: 300px;

}

.reversedY{
    position: absolute;
    transform: scaleY(-1);
    height: 300px;

}

h2{
    margin-left: 15px;
}

h1{
    margin-left: 15px;
}

h1, h2 {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.561);
}