.recommendations{
    width: 100%;
    height: auto;
}

.projects-section p{

    margin-top: 15px;
    margin-bottom: 0px;

}


.projects-section h5{

    margin-top: 20px;
    margin-bottom: 0px;

}


.downloadButton{
    position: fixed;
    top:auto; bottom:0;
    left: auto; right: 0;
    z-index: 9;
    margin-bottom: 20px;
    margin-right: 20px;

    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1b85ff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}