<div class="bg"></div>
<div class="container">
  <h1>Posts</h1>
  <div class="scrollZone">
    <app-post-item
      title="Title"
      publishedDate="date"
      tag="Tag1, tag2, tag3"
      imageUrl="assets\img\references\eric.jpg"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, quas expedita! Fugit, dolores. Reiciendis totam ex dolore illo, maiores nesciunt perferendis nam sed corporis dignissimos voluptas deserunt aliquam id illum?
      Quo impedit nemo minus, dolor voluptas, sint pariatur at ex alias asperiores sed consequatur quam mollitia deleniti, magni perspiciatis error assumenda quis expedita. Quasi excepturi quibusdam necessitatibus, modi praesentium in.
      Rerum quas incidunt fugit exercitationem dolor numquam eaque quis laboriosam quibusdam atque tenetur, est eveniet quisquam ab perspiciatis nostrum, sint, deserunt provident dolore officia nam odio repellendus consectetur sit! Quas.

    </app-post-item>

    <app-post-item
      title="Title"
      publishedDate="date"
      tag="Tag1, tag2, tag3"
      imageUrl="assets\img\references\eric.jpg"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, quas expedita! Fugit, dolores. Reiciendis totam ex dolore illo, maiores nesciunt perferendis nam sed corporis dignissimos voluptas deserunt aliquam id illum?
      Quo impedit nemo minus, dolor voluptas, sint pariatur at ex alias asperiores sed consequatur quam mollitia deleniti, magni perspiciatis error assumenda quis expedita. Quasi excepturi quibusdam necessitatibus, modi praesentium in.
      Rerum quas incidunt fugit exercitationem dolor numquam eaque quis laboriosam quibusdam atque tenetur, est eveniet quisquam ab perspiciatis nostrum, sint, deserunt provident dolore officia nam odio repellendus consectetur sit! Quas.

    </app-post-item>

    <app-post-item
      title="Title"
      publishedDate="date"
      tag="Tag1, tag2, tag3"
      imageUrl="assets\img\references\eric.jpg"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, quas expedita! Fugit, dolores. Reiciendis totam ex dolore illo, maiores nesciunt perferendis nam sed corporis dignissimos voluptas deserunt aliquam id illum?
      Quo impedit nemo minus, dolor voluptas, sint pariatur at ex alias asperiores sed consequatur quam mollitia deleniti, magni perspiciatis error assumenda quis expedita. Quasi excepturi quibusdam necessitatibus, modi praesentium in.
      Rerum quas incidunt fugit exercitationem dolor numquam eaque quis laboriosam quibusdam atque tenetur, est eveniet quisquam ab perspiciatis nostrum, sint, deserunt provident dolore officia nam odio repellendus consectetur sit! Quas.

    </app-post-item>

    <app-post-item
      title="Title"
      publishedDate="date"
      tag="Tag1, tag2, tag3"
      imageUrl="assets\img\references\eric.jpg"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, quas expedita! Fugit, dolores. Reiciendis totam ex dolore illo, maiores nesciunt perferendis nam sed corporis dignissimos voluptas deserunt aliquam id illum?
      Quo impedit nemo minus, dolor voluptas, sint pariatur at ex alias asperiores sed consequatur quam mollitia deleniti, magni perspiciatis error assumenda quis expedita. Quasi excepturi quibusdam necessitatibus, modi praesentium in.
      Rerum quas incidunt fugit exercitationem dolor numquam eaque quis laboriosam quibusdam atque tenetur, est eveniet quisquam ab perspiciatis nostrum, sint, deserunt provident dolore officia nam odio repellendus consectetur sit! Quas.

    </app-post-item>

    <app-post-item
      title="Title"
      publishedDate="date"
      tag="Tag1, tag2, tag3"
      imageUrl="assets\img\references\eric.jpg"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, quas expedita! Fugit, dolores. Reiciendis totam ex dolore illo, maiores nesciunt perferendis nam sed corporis dignissimos voluptas deserunt aliquam id illum?
      Quo impedit nemo minus, dolor voluptas, sint pariatur at ex alias asperiores sed consequatur quam mollitia deleniti, magni perspiciatis error assumenda quis expedita. Quasi excepturi quibusdam necessitatibus, modi praesentium in.
      Rerum quas incidunt fugit exercitationem dolor numquam eaque quis laboriosam quibusdam atque tenetur, est eveniet quisquam ab perspiciatis nostrum, sint, deserunt provident dolore officia nam odio repellendus consectetur sit! Quas.

    </app-post-item>

    <app-post-item
      title="Title"
      publishedDate="date"
      tag="Tag1, tag2, tag3"
      imageUrl="assets\img\references\eric.jpg"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, quas expedita! Fugit, dolores. Reiciendis totam ex dolore illo, maiores nesciunt perferendis nam sed corporis dignissimos voluptas deserunt aliquam id illum?
      Quo impedit nemo minus, dolor voluptas, sint pariatur at ex alias asperiores sed consequatur quam mollitia deleniti, magni perspiciatis error assumenda quis expedita. Quasi excepturi quibusdam necessitatibus, modi praesentium in.
      Rerum quas incidunt fugit exercitationem dolor numquam eaque quis laboriosam quibusdam atque tenetur, est eveniet quisquam ab perspiciatis nostrum, sint, deserunt provident dolore officia nam odio repellendus consectetur sit! Quas.

    </app-post-item>
  </div>

</div>
