<div class="bg"></div>
<div class="container">
  <h1>Posts</h1>
  <div class="scrollZone">
    <app-post-item
      link="https://colab.research.google.com/drive/1e4iedFQ8t17JspBRmcN23xu5cyaWpqmd?usp=sharing"
      title="Explaining the math behind Neural Networks"
      publishedDate="July 12, 2022"
      tag="NeuralNetworks, GoogleColab, Math, Python"
      imageUrl="assets\img\posts\anns.png"
    >
    A derivative is a function that expresses the measure of change of another function. It gives us the slope at a given point of that other function. But as the formula of the slope of the tangent line to the evaluated point. Problem? The slope formula requires two points, so we compute the derivative from two points on the very close curve.

    </app-post-item>

    <app-post-item
      link="https://humansyntax.blogspot.com/2022/10/how-to-program-state-syncronization-for.html"
      title="How to program state syncronization for multiplayer realtime experiences"
      publishedDate="Jun 26, 2022"
      tag="Backend, Multiplayer, Network"
      imageUrl="assets\img\posts\multi.png"
    >
    Let's say it clear: ALL multiplayer games "lies" you about what are you seeing. You don't believe me? Think about this: When you are playing online games a lot of data is being shared through the Internet. And, since you are playing games with 60 frames per second, the information's speed needed to arrive at your device can easily be equivalent to 12 or 24 fps.
    </app-post-item>

    <app-post-item
      link="https://humansyntax.blogspot.com/2022/10/7-reasons-why-tech-industry-is-unique.html"
      title="7 reasons why tech industry is unique"
      publishedDate="Jun 14, 2022 "
      tag="Opinion, TechIndustry"
      imageUrl="assets\img\posts\7.png"
    >
    Every year, there are more new positions created in the tech industry than there are people to fill them. This is because the demand for new and innovative technology is always growing, and companies are constantly looking for qualified tech professionals to help them meet this demand. We constantly see new technologies and companies born which is so exciting!
    </app-post-item>

    <app-post-item
      link="https://humansyntax.blogspot.com/2022/10/developing-fluid-simulation.html"
      title="Developing a fluid simulation"
      publishedDate="May 17, 2022"
      tag="Algebra, Math, C++"
      imageUrl="assets\img\posts\fluid.png"
    >
    Something I often teach my students when it comes to learning entry-level graphical computing is the Grestner Waves. A very simple way to simulate the waves of the sea.

    It consists of the manipulation of the frequency and amplitude of sinusoidal waves with oscillations over time.
    
    In this link, you will find the development of the formulas with an interactive panel.
    
    See also other formulas useful to generate local waves.
    </app-post-item>

    <app-post-item
      link="https://humansyntax.blogspot.com/2022/10/opinion-we-are-teaching-git-in-wrong-way.html"
      title="Opinion: We are teaching git in the wrong way"
      publishedDate="May 9, 2022"
      tag="Opinion, Git, Teaching"
      imageUrl="assets\img\posts\git.png"
    >
    Git is a hugely popular version control system that is used by developers all over the world. Knowing git is important for anyone looking to work in the tech industry, as it is a key tool used by developers.git allows developers to track changes to their code, and makes it easy to collaborate on projects with other developers. Overall, knowing git is essential for anyone looking to work in the tech industry. It is a powerful tool that can help developers to be more productive, and to collaborate more effectively.
    </app-post-item>

  </div>

</div>
