.container{
    height: 300px;
    position: relative;
    border-radius: 27px;
    overflow:hidden;


}
.inner{
    position: absolute;

    border-radius: 27px;
    height: 300px;
    width: 100%;
    
}

.gradientBG{
    
    background: linear-gradient(
        135deg, 
        rgb(68, 112, 255) 16%, 
        rgb(10, 26, 253) 100%
        //rgb(12, 24, 191) 100%
    );
}

.content {
    height: 200px !important;
    opacity: 0.8;
    //mix-blend-mode:lighten;
    //mix-blend-mode:hard-light;
    mix-blend-mode:color-dodge;

}

.layer2{
    
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-left: 15px;
    justify-content: flex-end;
    height: 300px;
    align-items: flex-end;
    
}

.layer2 *{
    z-index: 1;
    
}

