.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.free-space-container{
    position: fixed;
    opacity: 0.6;
}

.separator{
    transition: width 0.2s;
    transition-timing-function: ease-out;
    opacity: 0.5;
}

