<div class="container">

  <div class="inner gradientBG"></div>
  <div class="inner bg bgmedia"></div>
    <div class="inner bgvideo bgmedia">
      <video autoplay [muted]="'muted'" loop>
        <source src="assets\video\synapse2.mp4" type="video/mp4">
      </video>
    </div>
  <div class="inner blackBG"></div>

  <div class="inner content">
    <h1>Project SYNAPSE</h1>
    <h2>Project manager in charge of 8 workers. Developer of: Procedural animations, graphics programming, player gameplay and website.</h2>
    
    <a href="assets\SurrealBoostWeb\app\index.html" target="_blank">
      <div class="openButton">Open project</div>
    </a>

  </div>

</div>