<div class="container">
    <div id="headerLogo">
      <p>Pol Surriel</p>
      <span>.github.io</span>
    </div>
  
    <app-burguer-button (clickEventEmmiter)="onBurguerClicked($event, burguerMenu)"></app-burguer-button>
    <div id="section-menu" class="closed" #burguerMenu>
      <div class="section-menu-item"> <a href="#projects">Projects</a></div>
      <div class="section-menu-item"><a href="#references">References</a></div>
      <div class="section-menu-item"><a href="#posts">Posts</a></div>
      <div class="section-menu-item"><a href="#contactTitle">Contact</a></div>
    </div>
</div>
