<div class="container">
    <div id="headerLogo">
      <p>Pol Surriel</p>
      <span>.github.io</span>
    </div>
  
    <app-burguer-button (clickEventEmmiter)="onBurguerClicked($event, burguerMenu)"></app-burguer-button>
    <div id="section-menu" class="closed" #burguerMenu>
      <div class="section-menu-item"><a href="#projects"      (click)="onOptionSelected()"      >Projects</a></div>
      <div class="section-menu-item"><a href="#about"    (click)="onOptionSelected()"      >About</a></div>
      <div class="section-menu-item"><a href="#posts"         (click)="onOptionSelected()"      >Posts</a></div>
      <div class="section-menu-item"><a href="#contactTitle"  (click)="onOptionSelected()"      >Contact</a></div>
    </div>
</div>
