.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

#headerLogo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}

#headerLogo p{
    margin: 10px;
    font-size: 25px;
    font-weight: bolder;
    text-align: right;
    
}

#headerLogo span{
    width: 100%;
    text-align: right;
    margin-top: -20px;    
}

#section-menu{
    display: flex;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    margin:10px
}

.section-menu-item{

    font-size: 30px;
    margin-right: 20px;
    opacity: 1;

    cursor: pointer;

}

.section-menu-item:hover{
    opacity: 0.7;
    transition: opacity 0.2s ease !important;

}

app-burguer-button{
    display: none;


}


.section-menu-item:nth-child(1){
    transition: opacity 0.5s ease, transform 1s cubic-bezier(0.77,0.2,0.05,1.0),;
}
.section-menu-item:nth-child(2){
    transition: opacity 0.75s ease, transform 1s cubic-bezier(0.77,0.2,0.05,1.0),;
}
.section-menu-item:nth-child(3){
    transition: opacity 1s ease, transform 1s cubic-bezier(0.77,0.2,0.05,1.0),;
}
.section-menu-item:nth-child(4){
    transition: opacity 1.25s ease, transform 1s cubic-bezier(0.77,0.2,0.05,1.0),;
}

a{
    text-decoration: none;
}

@media all and (max-width: 880px) {
    app-burguer-button{
        z-index: 12;
        display: block;
    }

    .closed{
        transform: translate(100%, 0px);
    }

    .closed .section-menu-item{
        opacity: 0;
        transform: translate(100%, 0px);

    }
    

    #section-menu{
        margin: 0px;
        background-color: rgba(0, 0, 0, 0.25);
        position: fixed;
        flex-direction: column;
        align-items: flex-end;
        right: 0;
        top:0;
        bottom: 0;
        padding: 10px;
        padding-top: 60px;

        z-index: 10;
        width: 100%;
        border-left: 5px solid;
        border-color: white;
    }

    .section-menu-item{

        margin-left: 0;
        margin-bottom: 10px;
        font-size: 30px;
    }
}
