<div class="container" (mousemove)="onMouseMove($event)" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">

  <div class="inner gradientBG"></div>
  <div class="inner gridBG"></div>

  <div class="inner effectContainer">

    <div class="inner shadowBG shadow" id="shadow">
    </div>
    <div class="inner light shadow">
      <img draggable="false" id="pelletslight" src="assets\img\projects\pelletslight.png" alt="">
    </div>
    <div class="inner shapes">
      <div class="circle"></div>
    </div>
  </div>

  <div class="inner content">
    <h1>Pellets.io</h1>
    <h2>
      A JS game without libraries
    </h2>
    <app-github-button link="https://github.com/PolSurriel/pellets-io.git" ></app-github-button>

  </div>

</div>